In [15]:
import pandas as pd
import json
import numpy as np

In [16]:
data=pd.read_json('mturk_data/data.json')

# Convert json to csv and filter out non Turkers

In [4]:
batch_results=pd.read_csv('mturk_data/batch_results.csv')
#postId=Answer.surveycode

In [5]:
data_csv=data.to_csv('data.csv')

In [6]:
data_csv=pd.read_csv('data.csv')
data_csv.head()

,Unnamed: 0,age,bonus,bonuses,comments,education,ev,gender,postId,sheet0,...,time_start_sheet4,time_start_sheet5,time_start_sheet6,time_start_sheet7,time_start_sheet8,time_start_sheet9,time_start_taskTotal,time_start_trial,timestamp,trialselections
0,0,31.0,8.700,"26.5,18,20.5,50,0,18,115,35.5,10,2.5,20,10,120...",Thanks,College,"1,11.5,21.5,55,1,11,5,5,17.5,27.5,5,15,25,25,3...",Female,khy2rp1s,"{""p"":0.25,""x1"":40,""x2"":10,""condition"":""icon"",""...",...,1.606351e+12,1.606351e+12,1.606352e+12,1.606352e+12,1.606352e+12,1.606352e+12,1.606351e+12,1606349093672,2020-11-26 00:58:06.663,"b,b,b,b,a,a"
1,1,29.0,6.765,"50,150,40,16,0,12,20,50,20,20,10,10,32.5,0,7.5...",I enjoyed this lottery game.,College,"1,11.5,21.5,55,1,11,5,5,17.5,27.5,5,15,25,25,3...",Male,khy2mqnp,"{""p"":0.25,""x1"":50,""x2"":20,""condition"":""icon"",""...",...,1.606349e+12,1.606349e+12,1.606349e+12,1.606349e+12,1.606349e+12,1.606349e+12,1.606349e+12,1606348928008,2020-11-26 00:14:55.101,"a,a,b,a,b,a"
2,2,31.0,7.740,"10,15,39.5,35.5,50,20,10,12.5,20,36.5,50,10,0,...",Leave feedback here,High school,"1,11.5,21.5,55,1,11,5,5,17.5,27.5,5,15,25,25,3...",Male,khy2mwyq,"{""p"":0.5,""x1"":40,""x2"":10,""condition"":""icon"",""e...",...,1.606349e+12,1.606349e+12,1.606349e+12,1.606349e+12,1.606350e+12,1.606350e+12,1.606349e+12,1606348958346,2020-11-26 00:24:23.815,"b,b,b,b,b,a"
3,3,36.0,6.800,"50,26.5,10,20,12,9,3.5,14,80,0,37.5,41,19,7.5,...",very fun hit khy7qr4a,Professional school,"1,11.5,21.5,55,1,11,5,5,17.5,27.5,5,15,25,25,3...",Female,khy7qr4a,"{""estimateVal"":""none"",""p"":0.5,""x1"":50,""x2"":20,...",...,1.606358e+12,1.606358e+12,1.606358e+12,1.606358e+12,1.606358e+12,1.606358e+12,1.606358e+12,1606357461510,2020-11-26 02:36:11.836,"b,b,b,b,b,a"
4,4,32.0,7.870,"0,20,10,40,0,50,20,50,32.5,0,10,150,30,150,20,...",all good,College,"1,11.5,21.5,55,1,11,5,5,17.5,27.5,5,15,25,25,3...",Male,khy5pwik,"{""p"":0.9,""x1"":10,""x2"":0,""condition"":""icon"",""es...",...,1.606354e+12,1.606354e+12,1.606354e+12,1.606354e+12,1.606354e+12,1.606354e+12,1.606354e+12,1606354041490,2020-11-26 01:32:05.988,"b,b,b,b,b,b"

In [7]:
data2=pd.merge(data_csv,batch_results, left_on="postId", right_on="Answer.surveycode",how="inner" )

# Remove users for incomplete experiments

In [8]:
data2=data2.dropna(subset=['time_end_experiment','age']).reset_index()
len(data2)

299

# Create sheets dataframe

In [9]:
data['sheet12'][1]

'{"p":0.25,"x1":40,"x2":10,"condition":"icon","estimate":"gist","time":2000,"selections":["b","b","b","b","b","b","b","b","b","b","b","a","a","a","a","a","a","a","a","a","a","a","a","a"],"estimateVal":"attention_check","payments":[40,38.5,37,35.5,34,32.5,31,29.5,28,26.5,25,23.5,22,20.5,19,17.5,16,14.5,13,11.5],"lotterychoice":"10b"}'

In [10]:
data2.head()

,index,Unnamed: 0,age,bonus,bonuses,comments,education,ev,gender,postId,...,ApprovalTime,RejectionTime,RequesterFeedback,WorkTimeInSeconds,LifetimeApprovalRate,Last30DaysApprovalRate,Last7DaysApprovalRate,Answer.surveycode,Approve,Reject
0,0,0,31.0,8.700,"26.5,18,20.5,50,0,18,115,35.5,10,2.5,20,10,120...",Thanks,College,"1,11.5,21.5,55,1,11,5,5,17.5,27.5,5,15,25,25,3...",Female,khy2rp1s,...,Sat Nov 28 16:58:20 PST 2020,NaN,NaN,3461,100% (1/1),100% (1/1),100% (1/1),khy2rp1s,NaN,NaN
1,1,1,29.0,6.765,"50,150,40,16,0,12,20,50,20,20,10,10,32.5,0,7.5...",I enjoyed this lottery game.,College,"1,11.5,21.5,55,1,11,5,5,17.5,27.5,5,15,25,25,3...",Male,khy2mqnp,...,Sat Nov 28 16:31:21 PST 2020,NaN,NaN,1857,100% (2/2),100% (1/1),100% (1/1),khy2mqnp,NaN,NaN
2,2,2,31.0,7.740,"10,15,39.5,35.5,50,20,10,12.5,20,36.5,50,10,0,...",Leave feedback here,High school,"1,11.5,21.5,55,1,11,5,5,17.5,27.5,5,15,25,25,3...",Male,khy2mwyq,...,Sat Nov 28 16:25:20 PST 2020,NaN,NaN,1463,100% (1/1),100% (1/1),100% (1/1),khy2mwyq,NaN,NaN
3,3,3,36.0,6.800,"50,26.5,10,20,12,9,3.5,14,80,0,37.5,41,19,7.5,...",very fun hit khy7qr4a,Professional school,"1,11.5,21.5,55,1,11,5,5,17.5,27.5,5,15,25,25,3...",Female,khy7qr4a,...,Sat Nov 28 18:36:20 PST 2020,NaN,NaN,2597,100% (1/1),100% (1/1),100% (1/1),khy7qr4a,NaN,NaN
4,4,4,32.0,7.870,"0,20,10,40,0,50,20,50,32.5,0,10,150,30,150,20,...",all good,College,"1,11.5,21.5,55,1,11,5,5,17.5,27.5,5,15,25,25,3...",Male,khy5pwik,...,Sat Nov 28 17:32:20 PST 2020,NaN,NaN,1296,100% (1/1),100% (1/1),100% (1/1),khy5pwik,NaN,NaN

In [25]:
postId=[]
p_list=[]
estimate=[]
estimateVal=[]
time=[]
lottery_list=[]
x1=[]
x2=[]
ev_list=[]
rrp_list=[]
sheet_no=[]
age=[]
ev=[]
gender=[]
education=[]

for i in range(25):
    sheet="sheet"+str(i)
    for index,item in enumerate(data2[sheet]):
        if str(item)=="nan":
            print("postId ", data2['postId'][index]," sheet no. ",sheet)
            pass
        else:
            item= json.loads(item)
#             print(item)
            postId.append(data2['postId'][index])
            age.append(data2['age'][index])
            gender.append(data2['gender'][index])
            education.append(data2['education'][index])
            p=float(item['p'])
            p_list.append(p) 
            estimate.append(item['estimate']) 
            try: estimateVal.append(item['estimateVal'])
            except: estimateVal.append("null")
            time.append(item['time'])
            x1.append(item['x1'])
            x2.append(item['x2'])
            lotterychoice= item['lotterychoice']
            lottery_list.append(lotterychoice)
            #calculate ev
            ev= (p*float(item['x1'])) + ((1-p)*float(item['x2']))
            ev_list.append(ev)
            #calculate ce
            payments=item['payments']
            letter=lotterychoice.rsplit()
            if lotterychoice[-1]=="a":
                ce= (payments[int(lotterychoice[:-1])-1]+ payments[int(lotterychoice[:-1])])/2
            if lotterychoice[-1]=="b":
                ce= (payments[int(lotterychoice[:-1])-1]+ payments[int(lotterychoice[:-1])])/2
            #calculate rrp
            rrp= (ev-ce)/ev
            rrp_list.append(rrp)
            #append sheet number
            sheet_no.append(sheet)

In [26]:
d = {'postId': postId, 'age':age, 'gender':gender,'education':education,'estimate':estimate,'estimateVal':estimateVal,'rrp': rrp_list, 'p':p_list,'time':time,'sheet_no':sheet_no,'x1':x1,'x2':x2,'lotterychoice':lottery_list}
df = pd.DataFrame(data=d)
df.to_csv("lottery_time.csv")

In [27]:
df.head()

,postId,age,gender,education,estimate,estimateVal,rrp,p,time,sheet_no,x1,x2,lotterychoice
0,khy2rp1s,31.0,Female,College,verbatim,25,0.300000,0.25,unlimited,sheet0,40,10,19b
1,khy2mqnp,29.0,Male,College,gist,likely,-0.409091,0.25,2000,sheet0,50,20,8b
2,khy2mwyq,31.0,Male,High school,verbatim,50,0.030000,0.50,500,sheet0,40,10,11b
3,khy7qr4a,36.0,Female,Professional school,default,none,0.278571,0.50,unlimited,sheet0,50,20,17a
4,khy5pwik,32.0,Male,College,verbatim,90,0.416667,0.90,unlimited,sheet0,10,0,0a